$card: 400px;
$margin: 10px;
$card-width: $card + $margin + $margin;

.stream {
    @media screen and (max-width: $card-width) {
        max-width: $card-width;
        width: 100%;
    }

    @media screen and (min-width: $card-width) {
        width: $card-width;
    }

    @media screen and (min-width: 2 * $card-width) {
        width: 2 * $card-width;
    }

    @media screen and (min-width: 3 * $card-width) {
        width: 3 * $card-width;
    }

    margin: 0 auto;
}
