@import '~@angular/material/theming';

.scene-list {
    padding-left: 10px;

    i {
        font-size: 24px;
        color: rgba(0, 0, 0, 0.7);
    }

    p {
        font-size: 15px;
    }

    md-card {
        width: 100px;
        cursor: pointer;

        &:hover {
            @include mat-elevation(4);
        }
    }
}
